@import "variables";
@import "mixins";

body {
    width: 100%;
    height: 100%;
    font-family: "Lora","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size : 18px;
    padding-top:50px;
    @media(min-width:768px) {
        padding-top:0px;
    }
}

html {
    width: 100%;
    height: 100%;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}

p {
    margin: 0 25px 0 25px;
    font-size: 18px;
    line-height: 1.5;
    @media(min-width:768px) {
        margin: 0 35px 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
    &.caption {
        margin-bottom: 30px;
    }
}


hr {
  border-color : $theme-primary;
  border-width: 3px;
  max-width: 80px
}

a {
    color: $theme-primary;
    transition: all .2s ease-in-out;
    &:hover,
    &:focus {
        text-decoration: none;
        color: darken($theme-primary,20%);
    }
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(white, 0.3);
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: black;
    .navbar-toggle {
        padding: 4px 6px;
        font-size: 16px;
        color: white;
        &:focus,
        &:active {
            outline: none;
        }
    }
    .navbar-brand {
        font-weight: 700;
        &:focus {
            outline: none;
        }
    }
    a {
        color: white;
    }
    .nav {
        li {
            a {
                transition: background .3s ease-in-out;
                &:hover {
                    color: rgba(white, 0.8);
                    outline: none;
                    background-color: transparent;
                }
                &:focus,
                &:active {
                    outline: none;
                    background-color: transparent;
                }
            }
            &.active {
                outline: none;
                a {
                    background-color: rgba(white, 0.3);
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
    @media(min-width:768px) {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: rgba(black, 0.2);
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        &.top-nav-collapse {
            padding: 0;
            background: black;
            border-bottom: 1px solid rgba(white, 0.3);
        }
        .navbar-brand {
            font-size: 30px;
        }
    }
}

.intro {
    display: table;
    width: 100%;
    padding: 100px 0;
    text-align: center;
    color: black;
    background: url(../images/top/top.jpg) no-repeat bottom center scroll ;
    background-color: black;
    background-size: cover;
    .intro-body {
        display: table-cell;
        vertical-align: middle;
        .brand-heading {
            font-size: 40px;
        }
        .intro-text {
            font-size: 18px;
        }
    }
    @media(min-width:768px) {
        height: 95vh;
        padding: 0;
        .intro-body {
            .brand-heading {
                font-size: 100px;
            }
            .intro-text {
                font-size: 26px;
            }
        }
    }
}

.page-head {
    display: table;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    color: black;
    @media(min-width:768px) {
        padding: 100px;
    }
}



.content-section {
    padding-top: 30px;
}

.event-section {
    width: 100%;
    color: white;
    background-color: black;
    background-size: cover;
}

.color-section {
    background-color :#f15f40;
    background-size: cover;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .event-section {
        padding-top: 100px;
        padding-bottom: 100px;
    }

}

.btn {
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    transition: all .3s ease-in-out;
    border-radius: 0;
}

.btn-default {
    border: 1px solid $primary;
    color: $primary;
    background-color: transparent;
    &:hover,
    &:focus {
        border: 1px solid $primary;
        outline: none;
        color: black;
        background-color: $primary;
    }
}


footer {
    padding: 50px 0;
    text-align: center;
    p {
        font-size: 12px;
        margin: 0;
    }
}


::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}

img::selection {
    background: transparent;
}


.embed {
    position :relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;

    iframe {
        top: 0px;
        left: 0px;
        height:100%;
    }
}
#to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 150%;
}
#to-top a {
 
    width: 100px;
    padding: 20px 0;
    text-align: center;
    display: block;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    color : $theme-primary;
}
#to-top a:hover {
    color: lighten($theme-primary,10%);
}