@charset "Shift_JIS";

/*�@���j���[�@*/

/* ���j���[�^�C��1 */
div.Tile
{
		position               : relative;
		height                 : 400px;
		width                  : 400px;
/*		background-color: #38A3DB;*/
		margin: 0px;
		float                  : left;
		font-family            : Meiryo UI;
		-webkit-transform      : scale(1.1, 1.1);
		font-size              : 25pt;
		color                  : White;
		border-style           : solid;
}

div.Tile:hover
{
		-webkit-transform          : scale(1.1, 1.1);
		/* IE�̏ꍇ�� -ms-transform: scale(1.1, 1.1); */
		background-image           : url("white_vpvot.png");
		background-repeat          : no-repeat;
		background-position        : right top;
		opacity                    : 0.75;
}

span.TileTitle
{
		position   : absolute;
		bottom     : 30;
		left       : 0;
		font-family: Meiryo UI;
		font-size  : 40pt;
		color      : White;
}

span.TileContents
{
		position   : absolute;
		padding    : 10px;
		top        : 10%;
		font-family: Meiryo UI;
		font-size  : 24pt;
		color      : White;
}

/* ���j���[�^�C��2(half) */
div.Tile2
{
		position               : relative;
		height                 : 200px;
		width                  : 400px;
/*	    background-color: #38A3DB; */
		margin: 0px;
		float                  : left;
		font-family            : Meiryo UI;
		-webkit-transform      : scale(1.1, 1.1);
		font-size              : 25pt;
		color                  : White;
		border-style           : solid;
}

div.Tile2:hover
{
		-webkit-transform          : scale(1.1, 1.1);
		/* IE�̏ꍇ�� -ms-transform: scale(1.1, 1.1); */
		background-image           : url("white_vpvot.png");
		background-repeat          : no-repeat;
		background-position        : right top;
		opacity                    : 0.75;
}


/* ���j���[�^�C��1/4) */
div.Tile_quarter
{
		position               : relative;
		height                 : 200px;
		width                  : 200px;
//		background-color: #38A3DB;
		margin: 0px;
		float                  : left;
		font-family            : Meiryo UI;
		-webkit-transform      : scale(1.1, 1.1);
		font-size              : 25pt;
		color                  : White;
		border-style           : solid;
		margin     :30px 20px 20px;      /* �摜�����̗]���i�� ���E ��px�j */
}

div.Tile_quarter:hover
{
		-webkit-transform          : scale(1.1, 1.1);
		/* IE�̏ꍇ�� -ms-transform: scale(1.1, 1.1); */
		background-image           : url("white_vpvot.png");
		background-repeat          : no-repeat;
		background-position        : right top;
		opacity                    : 0.75;
}

span.TileTitle_quarter
{
		position   : absolute;
		bottom     : 30;
		left       : 0;
		font-family: Meiryo UI;
		font-size  : 20pt;
		color      : White;
}


/* ���o�� */
.headline_red {
		font-size  :40px;             /* �����̑傫�� */
		background :url(../images/head/head017_01.png) no-repeat;
		line-height:40px;             /* �s�̍��� */
		padding    :0 0 0 20px;       /* ���������̗]���i�� �E �� ��px�j */
		margin     :30px 0 20px;      /* �摜�����̗]���i�� ���E ��px�j */
}

.headline_orange {
		font-size  :40px;             /* �����̑傫�� */
		background :url(../images/head/head017_02.png) no-repeat;
		line-height:40px;             /* �s�̍��� */
		padding    :0 0 0 20px;       /* ���������̗]���i�� �E �� ��px�j */
		margin     :30px 0 20px;      /* �摜�����̗]���i�� ���E ��px�j */
}

.headline_yellow {
		font-size  :40px;             /* �����̑傫�� */
		background :url(../images/head/head017_03.png) no-repeat;
		line-height:40px;             /* �s�̍��� */
		padding    :0 0 0 20px;       /* ���������̗]���i�� �E �� ��px�j */
		margin     :30px 0 20px;      /* �摜�����̗]���i�� ���E ��px�j */
}

.headline_green {
		font-size  :40px;             /* �����̑傫�� */
		background :url(../images/head/head017_04.png) no-repeat;
		line-height:40px;             /* �s�̍��� */
		padding    :0 0 0 20px;       /* ���������̗]���i�� �E �� ��px�j */
		margin     :30px 0 20px;      /* �摜�����̗]���i�� ���E ��px�j */
}

.headline_lblue {
		font-size  :40px;             /* �����̑傫�� */
		background :url(../images/head/head017_05.png) no-repeat;
		line-height:40px;             /* �s�̍��� */
		padding    :0 0 0 20px;       /* ���������̗]���i�� �E �� ��px�j */
		margin     :30px 0 20px;      /* �摜�����̗]���i�� ���E ��px�j */
}

.headline_blue {
		font-size  :40px;             /* �����̑傫�� */
		background :url(../images/head/head017_06.png) no-repeat;
		line-height:40px;             /* �s�̍��� */
		padding    :0 0 0 20px;       /* ���������̗]���i�� �E �� ��px�j */
		margin     :30px 0 20px;      /* �摜�����̗]���i�� ���E ��px�j */
}

.headline_purple {
		font-size  :40px;             /* �����̑傫�� */
		background :url(../images/head/head017_07.png) no-repeat;
		line-height:40px;             /* �s�̍��� */
		padding    :0 0 0 20px;       /* ���������̗]���i�� �E �� ��px�j */
		margin     :30px 0 20px;      /* �摜�����̗]���i�� ���E ��px�j */
}

.headline_pink {
		font-size  :40px;             /* �����̑傫�� */
		background :url(../images/head/head017_08.png) no-repeat;
		line-height:40px;             /* �s�̍��� */
		padding    :0 0 0 20px;       /* ���������̗]���i�� �E �� ��px�j */
		margin     :30px 0 20px;      /* �摜�����̗]���i�� ���E ��px�j */
}

.headline_gray {
		font-size  :40px;             /* �����̑傫�� */
		background :url(../images/head/head017_09.png) no-repeat;
		line-height:40px;             /* �s�̍��� */
		padding    :0 0 0 20px;       /* ���������̗]���i�� �E �� ��px�j */
		margin     :30px 0 20px;      /* �摜�����̗]���i�� ���E ��px�j */
}

.headline_black {
		font-size  :40px;             /* �����̑傫�� */
		background :url(../images/head/head017_10.png) no-repeat;
		line-height:40px;             /* �s�̍��� */
		padding    :0 0 0 20px;       /* ���������̗]���i�� �E �� ��px�j */
		margin     :30px 0 20px;      /* �摜�����̗]���i�� ���E ��px�j */
}

/* whats new */
.whats_new_red {
		font-size  :40px;             /* �����̑傫�� */
		background :url(../images/new/new017_06.gif) no-repeat;
		line-height:30px;             /* �s�̍��� */
		padding    :0 20px 20px 20px; /* ���������̗]���i�� �E �� ��px�j */
		margin     :30px 0 20px;      /* �摜�����̗]���i�� ���E ��px�j */
}




/* �g�b�v�� */
.page-top {
		position             : fixed;
		bottom               : 60px;
		right                : 40px;
		padding              : 30px;
		background           : #7e7a7a;
		border-radius        : 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius   : 5px;
		font-size            : 30px;
		-ms-filter           : "alpha(opacity=80)";
		-moz-opacity         : 0.8;
		-khtml-opacity       : 0.8;
		opacity              : 0.8;
}


/* �� table�v�f */
	table
	{	
		font-size:  10.5pt;
		font-family: '�l�r �S�V�b�N, Osaka';
	}
	/* �ʏ��e�[�u���p */
	table.tblNormal
	{	
		font-size:  10.5pt;
		font-family: '�l�r �S�V�b�N, Osaka';
		border-collapse: collapse;
		padding:2px 2px 2px 2px;	
	}
	table.InnerTbl
	{	
		font-size:  30pt;
		font-family: '�l�r �S�V�b�N, Osaka';
		border-collapse: collapse;
	}
/* �� table�v�f */



/* �M�������[�^�C�� */
div.G_Tile
{
		position               : relative;
		height                 : 200px;
		width                  : 200px;
//		background-color: #38A3DB;
		margin: 30px;
		float                  : left;
		font-family            : Meiryo UI;
		-webkit-transform      : scale(1.1, 1.1);
		font-size              : 25pt;
		color                  : White;
		-moz-background-size   :cover;
		background-size        :cover;
}

div.G_Tile:hover
{
		-webkit-transform          : scale(1.1, 1.1);
		/* IE�̏ꍇ�� -ms-transform: scale(1.1, 1.1); */
		background-image           : url("white_vpvot.png");
		background-repeat          : no-repeat;
		background-position        : right top;
		opacity                    : 0.75;
}

span.G_TileTitle
{
		position   : absolute;
		bottom     : 0;
		left       : 0;
		font-family: Meiryo UI;
		font-size  : 40pt;
		color      : White;
}

span.G_TileContents
{
		position   : absolute;
		padding    : 10px;
		top        : 10%;
		font-family: Meiryo UI;
		font-size  : 24pt;
		color      : White;
}